In [3]:
import pandas as pd
from IPython.display import display
from IPython.core.display import HTML

display(HTML("<style>.container {width:100% !important;}</style>"))

df = pd.DataFrame()
s1 = pd.Series({'name': 'Zed1', 'age': 9}, name='abc')
display(s1)
df = df.append(s1, ignore_index=False) # it uses the Series name as label
display(df)
#df = df.append({'name': 'Zed2', 'age': 9, 'height': 2}, ignore_index=False) #TypeError: Can only append a Series if ignore_index=True or if the Series has a name
df = df.append({'name': 'Zed2', 'age': 9, 'height': 2}, ignore_index=True)
df = df.append(pd.Series({'name': 'Zed3', 'height': 2}), ignore_index=True)
display(df)

age        9
name    Zed1
Name: abc, dtype: object

     age  name
abc  9.0  Zed1

   age  name  height
0  9.0  Zed1     NaN
1  9.0  Zed2     2.0
2  NaN  Zed3     2.0

In [8]:
df = pd.DataFrame(columns = ['c1', 'c2', 'c3'])
df.loc['i1'] = ['a1', 'b1', 'z1'] # add
display(df)
df.loc['i1'] = ['a2', 'b2', 'z2'] # positional update
display(df)
#df.loc['i1'] = ['a2', 'b2'] # it doesn't work: "cannot copy sequence with size 2 to array axis with dimension 3"
df.loc['i1'] = ['x3']
display(df)
df.loc['i1'] = 'x4'
display(df)
df.loc['i1'] = {'c1': 'a3'} # incomplete update, puts Nan for missing fields
display(df)
df.drop('i1', inplace=True)
display(df)

    c1  c2  c3
i1  a1  b1  z1

    c1  c2  c3
i1  a2  b2  z2

ValueError: cannot copy sequence with size 2 to array axis with dimension 3

In [6]:
df = pd.DataFrame(columns = ['a', 'b', 'c1', 'c2'])
df.set_index(['a', 'b'], inplace=True)
df.loc[('i1', 'i2'), 'c1'] = 'a1'
display(df)
df.loc[('i1', 'i2'), 'c1':'c2'] = ['a1', 'a2']
display(df)
df.loc[('i1', 'i2'), ['c1', 'c2']] = ['a3', 'b3']
display(df)
df.loc[('i1', 'i2')] = {'c2': 'a3'} # incomplete update, puts Nan for missing
display(df)
df.drop(('i1', 'i2'), inplace=True)
display(df)

       c1   c2
a  b
i1 i2  a1  NaN

       c1  c2
a  b
i1 i2  a1  a2

       c1  c2
a  b
i1 i2  a3  b3

        c1  c2
a  b
i1 i2  NaN  a3

Empty DataFrame
Columns: [c1, c2]
Index: []