In [2]:
import pandas as pd
df = pd.DataFrame()
s1 = pd.Series({'name': 'Zed1', 'age': 9}, name='abc')
print(s1)
df = df.append(s1, ignore_index=False)

df = df.append({'name': 'Zed2', 'age': 9, 'height': 2}, ignore_index=True)

df = df.append(pd.Series({'name': 'Zed3', 'height': 2}), ignore_index=True)
df

age        9
name    Zed1
Name: abc, dtype: object

   age  name  height
0  9.0  Zed1     NaN
1  9.0  Zed2     2.0
2  NaN  Zed3     2.0

In [3]:
df = pd.DataFrame(columns = ['c1', 'c2'])
df.loc['i1'] = ['a1', 'b1'] # add
print(df)
df.loc['i1'] = ['a2', 'b2'] # positional update
print(df)
df.loc['i1'] = {'c1': 'a3'} # incomplete update, puts Nan for missing
print(df)
df.drop('i1', inplace=True)
print(df)

    c1  c2
i1  a1  b1
    c1  c2
i1  a2  b2
    c1   c2
i1  a3  NaN
Empty DataFrame
Columns: [c1, c2]
Index: []

In [4]:
df = pd.DataFrame(columns = ['a', 'b', 'c1', 'c2'])
df.set_index(['a', 'b'], inplace=True)
df.loc[('i1', 'i2'), 'c1'] = 'a1'
print(df)
df.loc[('i1', 'i2'), 'c1':'c2'] = ['a1', 'a2']
print(df)
df.loc[('i1', 'i2'), ['c1', 'c2']] = ['a3', 'b3']
print(df)
df.loc[('i1', 'i2')] = {'c2': 'a3'} # incomplete update, puts Nan for missing
print(df)
df.drop(('i1', 'i2'), inplace=True)
print(df)

       c1   c2
a  b
i1 i2  a1  NaN
       c1  c2
a  b
i1 i2  a1  a2
       c1  c2
a  b
i1 i2  a3  b3
        c1  c2
a  b
i1 i2  NaN  a3
Empty DataFrame
Columns: [c1, c2]
Index: []