In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

limits = pd.DataFrame({'rule': [np.nan, 'SPY', '!DFT', 'GOOG', np.nan], 
                       'vega': [1000, 1500, 2000, 1000, 2000], 
                       'ddelta': [1000000, 2000000, 1200000, 2000000, 1500000]}, 
                      columns=['rule', 'vega', 'ddelta'])
display(limits)

symbols = pd.DataFrame({'sym': ['IBM', 'SPY', 'GOOG', 'AAPL', 'JPM']})
symbols['rule'] = '!DFT'
display(symbols)

df = pd.merge(limits, symbols, on='rule', how='outer')
display(df)
df['sym'] = df.apply(lambda x: x.rule if pd.isnull(x.sym) else x.sym, axis=1)
display(df)
firmRules = df[pd.isnull(df.sym)]
firmRules = firmRules.drop(['rule', 'sym'], axis=1)
display(firmRules)
symRules = df.groupby('sym').apply(lambda x: x if len(x) == 1 else x[x.rule != '!DFT'])
symRules.reset_index(drop=True, inplace=True)
display(symRules)

   rule  vega   ddelta
0   NaN  1000  1000000
1   SPY  1500  2000000
2  !DFT  2000  1200000
3  GOOG  1000  2000000
4   NaN  2000  1500000

    sym  rule
0   IBM  !DFT
1   SPY  !DFT
2  GOOG  !DFT
3  AAPL  !DFT
4   JPM  !DFT

   rule  vega   ddelta   sym
0   NaN  1000  1000000   NaN
1   NaN  2000  1500000   NaN
2   SPY  1500  2000000   NaN
3  !DFT  2000  1200000   IBM
4  !DFT  2000  1200000   SPY
5  !DFT  2000  1200000  GOOG
6  !DFT  2000  1200000  AAPL
7  !DFT  2000  1200000   JPM
8  GOOG  1000  2000000   NaN

   rule  vega   ddelta   sym
0   NaN  1000  1000000   NaN
1   NaN  2000  1500000   NaN
2   SPY  1500  2000000   SPY
3  !DFT  2000  1200000   IBM
4  !DFT  2000  1200000   SPY
5  !DFT  2000  1200000  GOOG
6  !DFT  2000  1200000  AAPL
7  !DFT  2000  1200000   JPM
8  GOOG  1000  2000000  GOOG

   vega   ddelta
0  1000  1000000
1  2000  1500000

   rule  vega   ddelta   sym
0  !DFT  2000  1200000  AAPL
1  GOOG  1000  2000000  GOOG
2  !DFT  2000  1200000   IBM
3  !DFT  2000  1200000   JPM
4   SPY  1500  2000000   SPY