In [3]:
import pandas as pd
from IPython.display import display

df = pd.DataFrame({'col1': ['a', 'b', 'c'], 'col2': [1, 2, 3]})
display(df)
# pop removes a... column!
i = df.pop('col1')
display(df)
display(i)

  col1  col2
0    a     1
1    b     2
2    c     3

   col2
0     1
1     2
2     3

0    a
1    b
2    c
Name: col1, dtype: object